table {
    width: 100%;
    border-collapse: collapse;
}

h1{
    text-align: center;
    background-color: #0f07f49a;
    padding: 15px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}